* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    align-items: stretch;
    grid-template-areas:
        "box-1 box-2";
    height: auto;
}

.box-1 {
    grid-area: box-1;
    display: flex;
    align-items: center;
    justify-content: right;
}

#imagem01 {
    margin: 10px;
    /* margin-top: 10%; */
    height: auto;
}

/* ---------------------------------------------- */
.box-2 {
    grid-area: box-2;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.text-zone {
    text-align: center;
    align-items: center;
}

#titulo-welcome {
    font-size: 111px;
    margin-bottom: 10px;
    font-weight: bold;
    margin: auto;
}

.text-zone h4 {
    font-size: 29px;
    margin-bottom: 20px;
}

.link-botao{
    text-decoration: none;
    display: flex;
    justify-content: center;
} 

#button01 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border: none;
    width: 200px;
    height: 36px;
    border-radius: 15px;
    background-color: #3EB25E;
    font-style: normal;
    font-weight: bold;
}


#button02 {
    display: none;
}

#text-button {
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #ffffff;
}



@media screen and (max-width:890px) {
    #imagem01 {
        margin-top: 10%;
        height: 500px;
        width: auto;
    }

    #titulo-welcome {
        font-size: 80px;
        margin-bottom: 10px;
    }

    #button01 { 
        width: 150px;
        margin-top: 30px;
    }
}

@media screen and (max-width:650px) {

    #titulo-welcome {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .text-zone h4 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    #text-button {
        font-size: 16px;
        visibility: hidden;
        text-decoration: none;
        color: #000000;
    }
    #button01 { 
        width: 150px;
        margin-top: 20px;
    }

}

@media screen and (max-width:550px) {

    #titulo-welcome {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .text-zone h4 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    #text-button {
        font-size: 16px;
        visibility: hidden;
        text-decoration: none;
        color: #000000;
    }

    #button01 { 
        width: 150px;
        margin-top: 10px;
    }
}

@media screen and (max-width:480px) {

    .container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .box-1 {
        grid-area: box-1;
        display: flex;
        align-items: initial;
        justify-content: center;
    }

    #imagem01 {
        margin-right: 20%;
        height: 400px;
    }

    #titulo-welcome {
        font-size: 53px;
        margin-bottom: 10px;
    }

    .text-zone h4 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    #button01 {
        display: none;
    }

    .link-botao02{
        text-decoration: none;
        display: flex;
        justify-content: center;
        color: #FFFFFF;
    } 


    #button02 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        border: none;
        width: 50%;
        height: 36px;
        border-radius: 15px;
        background-color: #3EB25E;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
    }

    .txt-operate{
        font-size: 10px;;
    }
}